
.container {
    position: relative;
    font-family: RoBold, serif;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    outline: dashed 1px black;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontal-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.hello-btn {
    position: relative;
    width: auto;
    height: auto;
    padding: 14px 16px;
    margin: 12px;
    child-align: middle;
    text-align: center;
    background: #fd0101;
    outline: auto 2px #7174ff;
    border-radius: 8px;
}
